<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleD.css')}}"/>
    <title>View Models</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="/painting/plant" class="logB">Add Model</a>
            <a href="/home" class="logB">Dashboard</a>
            <a href="/logout" class="logB">Logout</a>
        </div>
        <div Class="intro">
            <h1>EVO</h1>
            <h5>Description:</h5>
            <p>{{painting.description}}</p>

        </div>
        <div>
            <p></p>
        </div>
    </div>
</body>
</html>
