*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: lavender;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.header, .head {
    background-color: rgb(132, 60, 142);
    color: rgb(87, 1, 158);
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 400px;
    padding: 15px;
    margin-left: 100px;
    margin-bottom: 5px;
}

.user {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(91, 0, 148, 0.8);
    margin-bottom: 5px;
    border-radius: 3px;
    padding: auto;
    width: 1000px;
}


.contian {
    width: 1000px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.in {
    border-right: 3px solid rgb(135, 0, 208);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model, .dis {
    width: 1000px;
    height: 150px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.int {
    box-sizing: border-box;
    width: 1000px;
    height: 150px;
    border: 3px solid grey;
    display: flex;
}

.intro {
    text-indent: 200px;
    box-sizing: border-box;
    border-radius: 500px;
    width: 700px;
    height: 50px;
    padding: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid rgb(22, 195, 234);
    background-color: rgb(24, 206, 209);
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.choices {
    box-sizing: border-box;
    width: 1000px;
    height: 150px;
    padding: 10px;
    border: 3px solid grey;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.a, .b, .c, .d, .e, .f, .g, .rB, .intro-button, .logB, .makebutton {
    background-color: #aa71b6;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(62, 0, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.a:hover, .b:hover, .c:hover, .rB:hover , .intro-button:hover, .logB:hover, .makebutton:hover {

    box-shadow: rgba(106, 0, 255, 0.35) 0 -25px 18px -14px inset,rgba(76, 0, 255, 0.25) 0 1px 2px,rgba(123, 0, 255, 0.25) 0 2px 4px,rgba(115, 0, 255, 0.25) 0 4px 8px,rgba(51, 0, 255, 0.25) 0 8px 16px,rgba(119, 0, 255, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-2.25deg);
}

.skull {
    border-radius: 200px;
    display: flex;
    border: 3.5px solid rgb(181, 132, 190);
    margin-left: 10px;
    margin-right: 10px;
    overflow:hidden;
    text-align:inherit;
    white-space: wrap;
}

.dis {
    height: 100px;
    width: 550px;
}

